$color1: #B6C8CA;

$color2: #C7D5D6;

$gris: #F1F1F1;

$marcas: 60px;

$bold: 500;

$titulo: 30px;

$subtitulo: 20px;

$paddingtitulos: 20px;

$paddingsubtitulos: 10px;

.quienessomos {
    font-size: $titulo;
    font-weight: $bold;
    padding: $paddingtitulos;
}

.personas {
    font-size: $subtitulo;
    font-weight: $bold;
    padding: $paddingsubtitulos;
}
