$color1: #B6C8CA;

$color2: #C7D5D6;

$gris: #F1F1F1;

$marcas: 60px;

$bold: 700;

$titulo: 30px;

$subtitulo: 20px;

$paddingtitulos: 20px;

$paddingsubtitulos: 10px;

$subrayado: underline black;

$bordeservicios: 10px;

$center: center;

$sombra: #a7a7a7;

$img: 421px;

.quienessomos {
    font-size: $titulo;
    font-weight: $bold;
    padding: $paddingtitulos;
}

.personastitulo {
    font-size: $subtitulo;
    font-weight: $bold;
    padding: $paddingsubtitulos;
}

.card-title {
    font-weight: $bold;
    text-align: center;
}

.tituloservicios {
    font-size: $titulo;
    font-weight: $bold;
    text-align: center;
    padding: $paddingsubtitulos;
}

.imgproceso {
    border-radius: $bordeservicios;
    box-sizing: content-box;
    box-shadow: 0px 5px 10px $sombra;
}

.tituloproceso {
    padding: $paddingtitulos;
    text-align: $center;
    font-weight: $bold;
    text-decoration: $subrayado;
}

.Homeservicios {
    width: $img;
}